@media screen and (max-width:1100px) {

  #main-view .main-content .evidence {
    width: 100%;
  }

  #main-view .main-content .items {
    justify-content: flex-start;
  }

  
#main-view .main-content .items .col {
  width: calc(92% / 4);
}
}


@media screen and (max-width:750px) {

  
#main-view .main-content .items .col {
  display: flex;
  width: calc(94% / 2);
}


}


@media screen and (max-width:579px) {

  main #left-bar{
    display: none;
  }

  main #left-bar-small{
    display: block;
  }

  #main-view{
    width: calc(100vw - 50px);
  }

  #main-view header {
    width: calc(100vw - 50px);
  }
  
#bottom-bar .container.right .box{
  flex-direction: column;
  width: auto;
}

#bottom-bar .container.right{
  justify-content: space-around;
}

#bottom-bar .container.right .time-line{
  width: 70%;
}

} 
