/* reset  */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* variabili */


/* general */

.debug {
  background-color: rgba(255, 0, 0, 0.250);
  border: 1px solid black;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: hidden;
  
}

.main-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

ul {
  padding-left: 0px;
  list-style: none;
  list-style-type: none;
}

/* main  */

main { 
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
  z-index: -1;
}

/* left bar  */

#left-bar {
  width: 220px;
  height: 100%;
  min-height: 300px;
  background-color: grey;
  z-index: 999;
}

#left-bar .logo{
  display: flex;
  width: 100%;
  height: 78px;
  min-height: 78px;
}

#left-bar .container :nth-child(n+1):not(ul):not(li),
#left-bar .logo{
  padding-left: 7px;
}

#left-bar .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 78px);
}

#left-bar .flex-container .container {
  display: flex;
  flex-direction: column;
}

#left-bar .logo img {
width: 75%;
}

#left-bar .container a,
#left-bar .container ul li{
  margin-bottom: 10px;
}

#left-bar .container h3 {
  margin-top: 10px;
  margin-bottom: 3px;
}

#left-bar ul li {
}

#left-bar-small {
  width: 50px;
  height: 100%;
  min-height: 300px;
  background-color: grey;
  z-index: 999;
  display: none;
}

/* main view  */

#main-view{
  position: relative;
  overflow-y: scroll;
  width: calc(100vw - 220px);
  height: calc(100vh - 100px);
}

#main-view header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100vw - 220px);
  height: 80px;
}

#main-view header a{
  margin-right: 25px;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid white;
}

#main-view .main-content{
  margin-top: 78px;
}

#main-view .main-content .evidence {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  margin: auto;
  line-height: 5px;
}

#main-view .main-content .evidence a{
  padding: 10px;
}

#main-view .main-content h1{
  margin: 40px 5px 20px 5px;
}

#main-view .main-content .items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  margin: 20px 5px;
}

#main-view .main-content .items .col {
  display: flex;
  width: calc(100% / 6);
  max-width: 300px;
}

#main-view .main-content .items .col .card {
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

#main-view .main-content .items .col .card img{
  width: 100%;
  height: auto;
}



/* bottom bar  */

#bottom-bar{
  position: fixed;
  bottom: 0%; 
  width: 100%;
  height: 100px;
  background-color: grey;
  z-index: 999;
}

