/* reset  */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* variabili */


/* general */

.debug {
  background-color: rgba(255, 0, 0, 0.250);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.main-container{
  width: 100vw;
  height: 100vh;
}

ul {
  padding-left: 0px;
  list-style: none;
  list-style-type: none;
}

/* main  */

main { 
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
  z-index: -1;
}

/* left bar  */

#left-bar {
  width: 220px;
  height: 100%;
  min-height: 300px;
  background-color: grey;
  z-index: 999;
}

#left-bar .logo{
  display: flex;
  width: 100%;
  height: 80px;

}

#left-bar .container :nth-child(n+1):not(ul):not(li),
#left-bar .logo{
  padding-left: 7px;
}

#left-bar .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 78px);
}

#left-bar .flex-container .container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#left-bar .logo img {
width: 75%;
}

#left-bar .container a,
#left-bar .container ul li{
  margin-bottom: 10px;
}

#left-bar .container ul{
  overflow-y: auto;
}

#left-bar .container h3 {
  margin-top: 10px;
  margin-bottom: 3px;
}

#left-bar ul li {
}

#left-bar-small {
  width: 50px;
  height: 100%;
  min-height: 300px;
  background-color: grey;
  z-index: 999;
  display: none;
}

/* main view  */

#main-view{
  position: relative;
  overflow-y: scroll;
  width: calc(100vw - 220px);
  height: calc(100vh - 100px);
}

#main-view header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100vw - 220px);
  height: 80px;
}

#main-view header a{
  margin-right: 25px;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid white;
}

#main-view .main-content{
  margin-top: 90px;
}

#main-view .main-content .evidence {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  margin:auto;
  line-height: 5px;
  text-transform:uppercase;
  font-weight: 900;
  font-size: 0.9em;
}

#main-view .main-content .evidence a{
  padding: 10px;
}

#main-view .main-content h1{
  margin: 40px 5px 20px 5px;
}

#main-view .main-content .items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content:space-between;
  margin: 20px auto;
}

#main-view .main-content .items .col {
  display: flex;
  width: calc(90% / 6);
  max-width: 300px;
  margin-right: 5px;
  margin-left: 5px;
}

#main-view .main-content .items .col .card {
  width: 100%;
  text-align: center;
}

#main-view .main-content .items .col .card .song{
  position: relative;
  width: 100%;
}

#main-view .main-content .items .col .card img{
  width: 100%;
  height: auto;
}

#main-view .main-content .items .col .card:hover .overlay,
#main-view .main-content .items .col .card:hover i{
  display: block;
}

#main-view .main-content .items .col .card .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#main-view .main-content .items .col .card i {
  color: white;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5em;
  display: none;
}

#main-view .main-content .items .col .card h3 {
  margin-top: 10px;
  font-size: 1.2em;
  line-height: 1em;
}

#main-view .main-content .items .col .card h4 {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 0.9em;
  margin-bottom: 10px;
}



/* bottom bar  */

#bottom-bar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  /* align-items: baseline; */
  bottom: 0%; 
  width: 100%;
  height: 100px;
  background-color: grey;
  z-index: 999;
  /* padding-bottom: 10px; */
}

#bottom-bar .container{
  display: flex;
  align-items: center;
  height: 90%;
}

#bottom-bar .container:nth-child(2){
  justify-content: center;
  height: 100%;
}

#bottom-bar .container.left{
  width: 220px;
  margin-top: 5px;
  justify-content: space-evenly;
}

#bottom-bar .container.left .track{
  display: flex;
}

#bottom-bar .container.left .track img{
  width: 60px;
}

#bottom-bar .container.left .track .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65px;
  margin-left: 5px;
  margin-right: 5px;
}

#bottom-bar .container.center{
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}

#bottom-bar .container.center .top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 200px;
}

#bottom-bar .container.center .bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.time-line{
  position: relative;
  height: 7px;
  border-radius: 7px;
  margin: 0px 10px;
}

.time-line .full{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  left:0;
  width: 30%;
  height: 100%;
  border-radius: 7px;
  background-color: azure;
}

#bottom-bar .container.center .bottom .time-line{
  width: 25vw;
}

#bottom-bar .container.center .bottom .time-line .full div {
width: 14px;
height: 14px;
transform: translateX(7px);
border-radius: 42%;
background-color: aliceblue;
border: 1px solid black;
}

#bottom-bar .container.right{
  margin-top: 5px;
  width:170px;
}

#bottom-bar .container.right .box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50px;
}

#bottom-bar .container.right .time-line{
  width: 100px;
}
